.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    /* max-height: 300px;  */
    overflow-y: auto;
    margin: 0 auto;
    /* margin-top: 150px; */
    z-index: 99999099;
    display: flex;
    gap: 100px;
    overflow-y: auto;
    justify-content: center;
    align-self: center;
    
  }

  .form-group {
    margin-bottom: 15px;
  }
  .form-container div{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    

  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .submit-button {
    background-color:#0D1A3D;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }

  .message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
  }

  .success {
    background-color: #d4edda;
    color: #155724;
  }

  .error {
    background-color: #f8d7da;
    color: #721c24;
  }