.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
   justify-self: right;
}
.button-registro{
    justify-self: right;
    background-color: var(--bgloginpage); color: #fff; padding: 20px 40px; border-radius: 20px;
    margin-top: -450px ;

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

.form-group {
    margin: 10px 0;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}