.organizate{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin-top: -150px;
    padding: 40px;
}

.container-perfil-dep{
    height: 300px;
    max-width: 1200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    
}

.container-perfil-dep{
    padding: 20px;
    margin: 0 auto;


}
.profile-img {
    border-radius: 10px;
    object-fit: cover; 
   width: 100%;
   height: 100%;
 
}

.info p {
    margin: 5px 0;
    font-size: 18px;
}

.buttons-dependentes {
    display: flex;
    gap: 15px;
}
.buttons-dependentes .button-dependentes {
    background: #002855;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 14px;
    align-self: center;
}
.buttons-dependentes .button-dependentes:hover {
    background: #001f3f;
}

@media (max-width:1400px) {
    .organizate{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 150px;
        gap: 30px;
    }
    
}