.modal {
    display: none;
    position: fixed;
    top: 50%;          /* Posiciona no meio vertical */
    left: 50%;         /* Posiciona no meio horizontal */
    transform: translate(-50%, -50%); /* Centraliza precisamente */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
}

.modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #0056b3;
}
