/* page layout grid */

#login{
    max-width: 100%;
    height: 100vh;
}

#login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
/* left side part */
#login  #left-side{
    align-content: center;
}

#login #left-side img{
    width: 300px;
}
/* rigth side part */

#rigth-side{
    background-color: var(--bgloginpage);
    align-content: center;
    width: 100%;
    justify-items: center; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

#rigth-side h2{
    color: #fff;
}

/* rigth side form */
#rigth-side form{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    

  
}
#rigth-side span, a{
    color: #fff;
    padding-top: 10px;
    font-size: 9px;
    text-align: start;
}


/* rigth side input and labels */

#rigth-side input{
    background-color: var(--bglogininput);
    /* padding-right: 100px;
    padding-rigth: 10px; */
    padding: 7px 100px 10px 10px;
    border-radius: 10px;
    border: 0px;
    margin: 7px;
   
}

#rigth-side input::placeholder{
    color: var(--colorletters);
    font-weight: 550;
    padding-bottom: 15px;

}

/* radio box check styles */
.radio-box{
    align-items: start;
    justify-content: space-evenly;
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    min-width:100%;
   
}
.radio-box label{
    font-size: smaller;
    color: #fff;
    display: flex;
    /* gap: 15px; */
    align-items: center;
    justify-content: center;
}

#rigth-side button{
    background-color: var(--bglogininput);
    padding: 5px;
    border: 0;
    border-radius: 10px;   
   
}